.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to bottom, #1b3878 0%, #ffffff 100%);

    scroll-margin-top: 50px
}

.container::before {
    content: "";
    position: absolute;

    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;

    background-image: radial-gradient(rgba(255, 255, 255, 0.4) 2px, transparent 2px);
    background-size: 150px 150px;

    transform: rotate(45deg);

    z-index: 0;
    pointer-events: none;
}

.container > h1 {
    font-size: 70px;
}

.content {
    position: relative;
    width: 100%;
    height: calc(100vh - 80px);

    box-sizing: border-box;
    overflow: hidden;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.video {
    position: absolute;

    width: auto;
    height: 90%;

    margin-left: 50px;
    border: 2px solid rgba(191,162,58,0.4);
}

.selectChar {
    position: absolute;

    right: 0%;
    width: 75%;
    height: 100%;

    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.selectChar > img:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.1s ease;
}

.selectChar > img:nth-child(3):hover {
    transform: scaleX(-1) scale(1.1);
}

.selectChar > img:first-child { /* Rain */
    position: absolute;
    height: 65%;

    bottom: 15%;
    z-index: 3;
}

.selectChar > img:nth-child(2) { /* Lasswell */
    position: absolute;
    height: 50%;
    right: 25%;
    bottom: 27%;
    z-index: 2;
}

.selectChar > img:nth-child(3) { /* Fina */
    position: absolute;
    height: 50%;
    right: 43%;
    bottom: 28%;
    z-index: 1;

    transform: scaleX(-1);
}