.container {
    position: relative;
    width: 100%;
    height: calc(100vh - 80px);
    background-color: black;

    box-sizing: border-box;
    overflow: hidden;

    display: flex;
    justify-content: space-between;
}

.video {
    position: relative;
    z-index: 1;

    width: auto;
    height: 100%;
}

.wallpaper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;

    -webkit-mask-image: linear-gradient(
            to left,
            black 0%,
            rgba(0, 0, 0, 1) 77%,
            rgba(0, 0, 0, 0) 85%
    );

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.selectChar {
    position: absolute;
    z-index: 3;

    right: 0%;
    width: 75%;
    height: 100%;

    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.selectChar > img:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.1s ease;
}

.selectChar > img:first-child { /* Rain */
    position: absolute;
    height: 65%;
    z-index: 3;
}

.selectChar > img:nth-child(2) { /* Lasswell */
    position: absolute;
    height: 50%;
    right: 25%;
    bottom: 41%;
    z-index: 2;
}

.selectChar > img:nth-child(3) { /* Fina */
    position: absolute;
    height: 50%;
    right: 40%;
    bottom: 40%;
    z-index: 1;

    transform: scaleX(-1);
}