.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.bgVideo {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.container > h1 {
    font-size: 70px;
    z-index: 1;
}

.border {
    position: relative;
    z-index: 1;
}

.border > h2 {
    font-size: 40px;

    position: absolute;
    right: 33%;
    top: 20%;
}