.navbar {
    padding: 10px 20px;
    background-color: black;
    width: 100%;
    height: 82px;

    display: flex;
    justify-content: space-between;

    position: fixed;
    box-sizing: border-box;
    z-index: 3
}

.navigation {
    color: white !important;
    display: flex;
    align-items: center;
}

.navigation > span {
    padding-left: 40px;
    font-size: 40px;
}

.logo {
    width: 100px;
    height: auto;
}