.container {
    position: relative;
    width: 100%;
    padding-top: 1px;
    background: linear-gradient(to bottom, black 0%, #122F71 100%);
    isolation: isolate;
}

.container::before {
    content: "";
    position: absolute;
    inset: 0;
    background:
            radial-gradient(circle at 20% 30%, rgba(80,120,255,0.12), transparent 100%),
            radial-gradient(circle at 80% 70%, rgba(255,255,255,0.05), transparent 100%);
    z-index: -2;
}

.container::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: radial-gradient(
            rgba(255,255,255,0.07) 1.5px,
            transparent 1.5px
    );
    background-size: 30px 30px;
    z-index: -1;
}

.container > h1 {
    font-size: 70px;
    justify-self: center;
}

.advertisement {
    position: relative;
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
}

.advertisement > .adTitle {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.adTitle > h2 {
    margin: 10px;
}

.adTitle > p {
    margin: 0
}

.advertisement > .adVid {
    width: 50%;
    height: auto;
    object-fit: cover;
    border: 2px solid rgba(191,162,58,0.4);
    box-shadow: 0 30px 80px rgba(0,0,0,0.6);
}

.advertisement > .ornament_left {
    width: 25vw;
    height: auto;

    position: absolute;
    left: 0;
    bottom: -20px;

    filter:
        brightness(1.06)
        sepia(0.7)
        saturate(3.2)
        contrast(1.05);

    transform: scaleX(-1);
}

.advertisement > .ornament_right {
    width: 25vw;
    height: auto;

    position: absolute;
    right: 0;
    bottom: -20px;

    filter:
        brightness(1.06)
        sepia(0.7)
        saturate(3.2)
        contrast(1.05);
}