.container {
    position: relative;
    width: 100%;
    height: 700px;

    background:
        linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 50%),
        url("../assets/img/footer-bg.png");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.container > img:nth-child(1) { /* rain */
    position: absolute;

    bottom: 100px;
    left: 50%;

    z-index: 2;
}

.container > img:nth-child(2) { /* lasswell */
    position: absolute;

    bottom: 110px;
    left: 60%;

    z-index: 3;
}

.container > img:nth-child(3) { /* fina */
    position: absolute;

    height: 150px;

    bottom: 190px;
    left: 56%;

    z-index: 1;
}

.container > img:nth-child(4) { /* monster */
    position: absolute;

    height: 150px;

    bottom: 190px;
    right: 56%;

    z-index: 1;
}

.container > img:nth-child(5) { /* monster1 */
    position: absolute;

    height: 150px;

    bottom: 100px;
    right: 50%;

    z-index: 1;
}